input[type=text], select {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

textarea{
    width: 97%;
    padding: 12px 20px;
    margin: 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 15%;
}
.btn-apv input[type=submit]{
    background-color: #2351f9d9;
}
.btn-rjt input[type=submit]{
    background-color: #df2d20e5;
}
.btn-apv input[type=submit]:hover {
    background-color: #2351f9;
}
.btn-rjt input[type=submit]:hover {
    background-color: #df2d20;
}

.username, label {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 8px 16px;
    word-spacing: 2px;
    color: #128b83e6;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.hTitle {
    width: 100%;
    background: #128b83e6;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center; 
}
.username {
    text-align: center; 
}
.img {
    text-align: center; 
}
.img img {
    border-radius: 4em;
    border: 2px solid #8291c765;
}
.container {
    overflow: hidden;
    border-radius: 5px;
    background-color: #e4e4e48a;
    border: 2px solid #8291c765;
}